@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --radius: 0.625rem;

  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(14.5% 0 0);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(14.5% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(14.5% 0 0);
  --color-primary: oklch(20.5% 0 0);
  --color-primary-foreground: oklch(98.5% 0 0);
  --color-secondary: oklch(97% 0 0);
  --color-secondary-foreground: oklch(20.5% 0 0);
  --color-muted: oklch(97% 0 0);
  --color-muted-foreground: oklch(55.6% 0 0);
  --color-accent: oklch(97% 0 0);
  --color-accent-foreground: oklch(20.5% 0 0);
  --color-destructive: oklch(57.7% 0.245 27.325);
  --color-border: oklch(92.2% 0 0);
  --color-input: oklch(92.2% 0 0);
  --color-ring: oklch(70.8% 0 0);

  --color-chart-1: oklch(64.6% 0.222 41.116);
  --color-chart-2: oklch(60% 0.118 184.704);
  --color-chart-3: oklch(39.8% 0.07 227.392);
  --color-chart-4: oklch(82.8% 0.189 84.429);
  --color-chart-5: oklch(76.9% 0.188 70.08);

  --color-sidebar: oklch(98.5% 0 0);
  --color-sidebar-foreground: oklch(14.5% 0 0);
  --color-sidebar-primary: oklch(20.5% 0 0);
  --color-sidebar-primary-foreground: oklch(98.5% 0 0);
  --color-sidebar-accent: oklch(97% 0 0);
  --color-sidebar-accent-foreground: oklch(20.5% 0 0);
  --color-sidebar-border: oklch(92.2% 0 0);
  --color-sidebar-ring: oklch(70.8% 0 0);
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  html,
  body {
    overflow: hidden;
    height: 100%;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
  img.pixel-none {
    image-rendering: auto;
  }
}

@utility scrollbar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}

.dark {
  --color-background: oklch(14.5% 0 0);
  --color-foreground: oklch(98.5% 0 0);
  --color-card: oklch(21% 0 0);
  --color-card-foreground: oklch(98.5% 0 0);
  --color-popover: oklch(21% 0 0);
  --color-popover-foreground: oklch(98.5% 0 0);
  --color-primary: oklch(98.5% 0 0);
  --color-primary-foreground: oklch(20.5% 0 0);
  --color-secondary: oklch(21.7% 0 0);
  --color-secondary-foreground: oklch(98.5% 0 0);
  --color-muted: oklch(21.7% 0 0);
  --color-muted-foreground: oklch(70.8% 0 0);
  --color-accent: oklch(21.7% 0 0);
  --color-accent-foreground: oklch(98.5% 0 0);
  --color-destructive: oklch(70.5% 0.213 27.518);
  --color-border: oklch(27% 0 0);
  --color-input: oklch(27% 0 0);
  --color-ring: oklch(55.6% 0 0);

  --color-chart-1: oklch(64.6% 0.222 41.116);
  --color-chart-2: oklch(60% 0.118 184.704);
  --color-chart-3: oklch(39.8% 0.07 227.392);
  --color-chart-4: oklch(82.8% 0.189 84.429);
  --color-chart-5: oklch(76.9% 0.188 70.08);

  --color-sidebar: oklch(17.9% 0 0);
  --color-sidebar-foreground: oklch(98.5% 0 0);
  --color-sidebar-primary: oklch(98.5% 0 0);
  --color-sidebar-primary-foreground: oklch(20.5% 0 0);
  --color-sidebar-accent: oklch(27% 0 0);
  --color-sidebar-accent-foreground: oklch(98.5% 0 0);
  --color-sidebar-border: oklch(27% 0 0);
  --color-sidebar-ring: oklch(55.6% 0 0);
}